# example of credentials this repo need in .env fiele

# JWT Secrets
JWT_REGISTER_SECRET = 'cdcwrg3'
# BCRYPT credentials
BCRYPT_SALT_ROUNDS = 12

# FRONTEND Secrets
FRONTEND_URL = 'http://localhost:3000'

# BACKEND Secrets
PORT = 8090
BACKEND_URL = 'http://localhost:8090'
DOCKER_BACKEND_URL = 'http://backend:8090'

# Application Pagination
DEFAULT_PAGE = 1
DEFAULT_LIMIT = 10

#DB configs
DB_POSTGRES_TYPE = 'postgres'
DB_POSTGRES_HOST = 'database'
DB_POSTGRES_PORT = 5432
DB_POSTGRES_USERNAME = 'postgres'
DB_POSTGRES_PASSWORD = 123
DB_POSTGRES_DATABASE = 'db'
DB_RETRY_ATTEMPTS = 10
DB_RETRY_DELAY = 5000

# docker user
POSTGRES_USER = 'postgres'
POSTGRES_PASSWORD = 123
POSTGRES_DB = 'db'

# DOCKER

# PgAdmin
PGADMIN_DEFAULT_EMAIL = 'admin@admin.com'
PGADMIN_DEFAULT_PASSWORD = 'admin'